<h2>Auctions list</h2>

{{#each model as |auctions|}}
  Name:        {{auctions.name}}<br />
  Place:       {{auctions.place}}<br />
  Description: {{auctions.description}}<br />
  Date:        {{auctions.date}}<br />
  Concept:     {{auctions.concept}}<br />

  <h2>Lots:</h2>

  {{#owl-carousel autoplay=3000 pagination=true}}
  {{#each auctions.lots as |lots|}}
    <div class="item item-box">
        <h1>Lot {{lots.number}}</h1>
        <p>Name:   {{lots.name}}</p>
    </div>
  {{/each}}
  {{/owl-carousel}}
{{/each}}
